.area__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  text-align: center;
  max-width: 1295px;
  width: 100%;
}

.area__content-info {
  margin: 0 auto;
}

.area__content-title {
  position: relative;
  color: #1a2f3f;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: 0.72px;
  margin-bottom: 13px;
}

.area__content-title sup {
  position: absolute;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.9px;
  top: 6px;
}

.area__content-text {
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1440px) {
  .area__content-title {
    font-size: 64px;
  }
}

@media (max-width: 1024px) {
  .area__content-title {
    font-size: 56px;
  }
}

@media (max-width: 1023.98px) {
  .area__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .area__content {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .area__content-title {
    font-size: 48px;
  }
}

@media (max-width: 767.98px) {
  .area__content {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .area__content-title sup {
    font-size: 14px;
  }

  .area__content-text {
    font-size: 14px;
  }
}