@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header-top {
  background: rgba(245, 245, 245, 0.5);
  min-height: 38px;
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
}

.header-top__tel {
  display: none;
}

.header-top__social {
  max-width: 80px;
  width: 100%;
}

.header-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 753px;
  width: 100%;
}

.header-top__discount {
  color: #337d5a;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.header-top__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 158px;
  width: 100%;
  margin: 3px 49px 0 auto;
}

.header-top__account-signin a,
.header-top__account-signup a {
  display: inline-block;
  position: relative;
  color: #323232;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-top__account-signin a::after,
.header-top__account-signup a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #93b474;
}

.header-top__account-signin a:hover::after,
.header-top__account-signup a:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-top__account-signin a.link-hover::after,
.header-top__account-signup a.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-top__account-signin {
  max-width: 49px;
  width: 100%;
}

.header-top__account-signin a img {
  width: 11px;
  height: 11px;
  margin: 2px 6px 0 0;
}

.header-top__account-signup {
  max-width: 82px;
  width: 100%;
}

.header-top__lang {
  margin-top: 3px;
  max-width: 31px;
  width: 100%;
}

.header-top__lang-select {
  position: relative;
  cursor: pointer;
  color: #000;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-top__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 5;
  background: #fff;
}

.header-top__lang-list.show {
  opacity: 1;
  visibility: visible;
  max-width: 35px;
  width: 100%;
  cursor: pointer;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.header-top__lang-item,
.header-top__lang-current {
  color: #000;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-top__lang-item {
  padding: 5px 0;
}

.header-top__lang-item:hover {
  color: #fff;
  background: #337d5a;
}

.header-top__lang-arrow {
  position: absolute;
  right: 0px;
  top: 6px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-top__lang-arrow img {
  width: 8px;
  height: 5px;
}

.header-top__lang-arrow.rotate {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.header-bottom {
  height: 85px;
}

.header-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom__menubtn {
  display: none;
}

.header-bottom__menubtn img {
  width: 19px;
  height: 17px;
}

.header-bottom__logo {
  margin-top: 18px;
}

.header-bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 761px;
  width: 100%;
}

.header-bottom__item-social {
  margin-top: 4px;
}

.header-bottom__item-tel {
  margin-top: 8px;
  margin-left: 32px;
}

.header-bottom__item-tel a {
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 3px;
}

.header-bottom__item-tel a:last-child {
  padding: 0;
}

.header-bottom__item-tel a span {
  font-weight: 600;
  color: #337d5a;
}

.header-bottom__item-call {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11px;
}

.header-bottom__item-call button {
  color: #fff;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  width: 148px;
  height: 42px;
  background: #337d5a;
}

.header-bottom__item-call button:hover {
  background: #fff;
  color: #337d5a;
  border: 1px solid #337d5a;
}

.header-bottom__item-call p {
  max-width: 141px;
  width: 100%;
  color: #7a7a7a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-left: 15px;
}

.header-bottom__item-basket {
  margin: 5px 0 0 64px;
  cursor: pointer;
}

.header-bottom__item-basket img {
  width: 24px;
  height: 24px;
}

.header__line {
  height: 1px;
  background: rgba(0, 0, 0, 0.06);
}

.header-menu {
  margin: 22px 0 0 0px;
}

.header-menu__close-btn {
  display: none;
}

.header-menu__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.header-menu__logo {
  max-width: 197px;
  width: 100%;
  display: none;
}

.header-menu__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
}

.header-menu__logo a img {
  width: 29px;
  height: 29px;
}

.header-menu__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  max-width: 156px;
  width: 100%;
}

.header-menu__account-signin a,
.header-menu__account-signup a {
  display: inline-block;
  position: relative;
  color: #323232;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-menu__account-signin a::after,
.header-menu__account-signup a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #93b474;
}

.header-menu__account-signin a:hover::after,
.header-menu__account-signup a:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__account-signin a.link-hover::after,
.header-menu__account-signup a.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__account-signin {
  max-width: 55px;
  width: 100%;
}

.header-menu__account-signin a img {
  margin: 3px 6px 0 0;
}

.header-menu__account-signup {
  max-width: 82px;
  width: 100%;
}

.header-menu__social {
  width: 90px;
  height: 13px;
}

.header-menu__body {
  padding-left: 77px;
  padding-right: 74px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header-menu__link {
  position: relative;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.header-menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: -15px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #337d5a;
}

.header-menu__link:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__link.act-link::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: #337d5a;
}

.header-menu__link:hover {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  color: #337d5a;
}

.header-menu__link.act-link {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: #337d5a;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

@media (max-width: 1024px) {
  .header-top__lang-list {
    top: 175%;
  }

  .header-menu__body {
    padding: 0;
  }

  .header-top__container {
    padding-top: 0px;
  }

  .header-top__tel {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-top__tel a {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }

  .header-top__tel a span {
    color: #337d5a;
  }

  .header-top__tel a img {
    width: 10px;
    height: 10px;
    margin: 2px 6px 0 0;
  }

  .header-top__tel button {
    margin-left: 25px;
    position: relative;
    color: #337d5a;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    background: transparent;
    margin-left: 25px;
  }

  .header-top__tel button::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    background-color: #93b474;
  }

  .header-top__tel button:hover::after {
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }

  .header-top__social {
    display: none;
  }

  .header-top__item {
    max-width: 54px;
    width: 100%;
  }

  .header-top__discount {
    display: none;
  }

  .header-top__account {
    display: none;
  }

  .header-top__lang {
    max-width: 54px;
    width: 100%;
    height: 38px;
    border: 1px solid #93b474;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .header-top__lang-select {
    width: 100%;
    padding-left: 15px;
  }

  .header-top__lang-list {
    text-align: center;
    min-width: 54px;
    width: 100%;
  }

  .header-top__lang-list.show {
    text-align: center;
    min-width: 54px;
    width: 100%;
  }

  .header-top__lang-item {
    padding: 5px 0;
  }

  .header-top__lang-arrow {
    position: absolute;
    right: 8px;
    top: 6px;
  }

  .header-bottom {
    height: 80px;
  }

  .header-bottom__menubtn {
    display: block;
    cursor: pointer;
  }

  .header-bottom__logo {
    margin: 0;
  }

  .header-bottom__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 23px;
    width: 100%;
  }

  .header-bottom__item-social {
    display: none;
  }

  .header-bottom__item-tel {
    display: none;
  }

  .header-bottom__item-call {
    display: none;
  }

  .header-bottom__item-basket {
    margin: 0;
  }

  .header-menu {
    height: 0;
    position: relative;
    margin: 0;
  }

  .header-menu__logo {
    display: block;
    margin: 0 15px;
  }

  .header-menu__close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
  }

  .header-menu__subrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fafafa;
    height: 42px;
    margin: 15px 0;
    padding: 15px;
  }

  .header-menu__box {
    position: fixed;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 15px 0px 30px 0px;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }

  .header-menu__box._active {
    top: 0;
  }

  .header-menu__list {
    display: block;
    padding: 0 15px;
  }

  .header-menu__item {
    margin-bottom: 13px;
    padding-bottom: 13px;
    width: 100%;
  }

  .logo {
    margin-top: 11px;
    max-width: 135px;
    width: 100%;
    height: 60px;
  }

  .logo a {
    font-family: Raleway;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.22px;
    margin: 0 auto;
  }

  .logo img {
    width: 29px;
    height: 29px;
    margin: 0 0 7px 0;
  }
}