@charset "UTF-8";

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.order-account {
  margin-top: 179px;
}

.order-account__nav {
  padding-top: 36px;
}

.order-account__nav a:nth-child(2) {
  margin: 0 2px 0 5px;
}

.order-account__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 622px;
  width: 100%;
  margin-top: 56px;
}

.order-account__row-title {
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 100% */
  letter-spacing: 0.32px;
}

.order-account__row-manager {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.16px;
}

.order-account__row-manager a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #337d5a;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.14px;
}

.order-account__row-manager a img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.order-account__table {
  margin-top: 40px;
  overflow: auto;
}

.order-account__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 36px;
  margin-right: 15px;
}

.order-account__subtitle {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 188.235% */
  letter-spacing: 0.17px;
}

.order-account__contact {
  margin-top: 15px;
}

.order-account__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.order-account__contact-form input {
  margin-bottom: 15px;
}

.order-account__contact-form input:last-child {
  margin: 0;
}

.order-account__delivery {
  margin-top: 45px;
}

.order-account__delivery-form {
  margin-top: 20px;
}

.order-account__delivery-form-subradio-delivery img {
  padding-top: 6px;
  margin-left: 10px;
  margin-bottom: -3px;
}

.order-account__delivery-form-self-pickup {
  margin-top: 15px;
}

.order-account__pay {
  margin-top: 42px;
}

.order-account__pay-form {
  margin-top: 18px;
}

.order-account__pay-form label {
  margin-bottom: 13px;
}

.order-account__pay-link {
  display: inline-block;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  border: 0.5px solid #337d5a;
  background: #337d5a;
  padding: 15px 74px;
  margin-top: 20px;
}

.order-contact {
  margin-top: 100px;
  margin-bottom: 45px;
  background: #fbfbfb;
}

.radio-box {
  padding-left: 27px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.radio-box__inp {
  display: none;
}

.radio-box__mark {
  display: inline-block;
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 2px solid #337d5a;
  border-radius: 50%;
  cursor: pointer;
  /* Додайте курсор pointer для вказівника при наведенні */
}

.radio-box__mark::after {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: 2px;
  width: 7px;
  height: 7px;
  background: #337d5a;
  border-radius: 50%;
}

.radio-box.active .radio-box__mark::after {
  display: block;
}

@media (max-width: 1024px) {
  .order-account {
    margin-top: 119px;
  }
}

@media (max-width: 768px) {
  .order-account__row-title {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .order-account__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .order-account__row-manager {
    margin-bottom: 15px;
  }
}