@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.password-new {
  margin-top: 179px;
}

.password-new__nav {
  padding-top: 36px;
}

.password-new__form {
  margin: 57px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 410px;
  width: 100%;
}

.password-new__form-title {
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 100% */
  letter-spacing: 0.32px;
  margin-bottom: 42px;
}

.password-new__form input {
  margin-bottom: 15px;
}

.password-new__form a {
  display: inline-block;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  border: 0.5px solid #337d5a;
  background: #337d5a;
  text-align: center;
  padding: 16px 0;
}

.password-contact {
  background: #fbfbfb;
  margin-top: 100px;
  margin-bottom: 45px;
}

@media (max-width: 1024px) {
  .password-new {
    margin-top: 119px;
  }
}

@media (max-width: 768px) {
  .password-new__form {
    margin: 30px auto 0;
  }

  .password-new__form-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .password-contact {
    margin: 30px 0;
  }
}