@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.pay-banner {
  margin-top: 179px;
  max-height: 300px;
  height: 100%;
  position: relative;
}

.pay-banner__images img {
  min-width: 375px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pay-banner__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.pay-banner__nav {
  margin-top: 36px;
}

.pay-banner__title {
  text-align: center;
  color: #fff;
  font-family: Raleway;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.62px;
  margin-top: 68px;
}

.pay-methods {
  position: relative;
}

.pay-methods__tabs {
  margin-top: 84px;
}

.pay-methods__tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1052px;
  width: 100%;
  margin: 0 auto;
}

.pay-methods__tabs-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.2px;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.pay-methods__tabs-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: -13px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #337d5a;
}

.pay-methods__tabs-list li:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.pay-methods__tabs-list li.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.pay-methods__tabs-list li:hover {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.pay-methods__tabs-list li.link-hover {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.pay-methods__tabs-list li .tabs {
  fill: #337d5a;
}

.pay-methods__tabs-list li img {
  display: inline-block;
  margin-right: 12px;
}

.pay-methods__tabs-list li img:nth-child(1) {
  width: 37px;
  height: 37px;
}

.pay-methods__tabs-list li img:nth-child(2) {
  width: 45px;
  height: 45px;
}

.pay-methods__tabs-list li img:nth-child(3) {
  width: 36px;
  height: 36px;
}

.pay-methods__line {
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.pay-methods__content {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pay-methods__info {
  margin-top: 5px;
  max-width: 440px;
  width: 100%;
}

.pay-methods__info-bank {
  margin-top: 22px;
}

.pay-methods__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-methods__info-item-image {
  width: 48px;
  height: 48px;
}

.pay-methods__info-item-title {
  font-family: Raleway;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  margin-left: 15px;
}

.pay-methods__info-text {
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
}

.pay-methods__info-title {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin-top: 5px;
}

.pay-methods__info-card,
.pay-methods__info-cash {
  margin-top: 37px;
}

.pay-methods__image {
  max-width: 770px;
  width: 100%;
  height: 471px;
}

.pay-methods__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pay-area {
  margin-top: 75px;
  background: #fbfbfb;
}

.pay-area__container {
  padding: 80px 15px 86px;
}

.pay-contact {
  background: #fbfbfb;
}

@media (max-width: 1919.98px) {
  .pay-banner {
    max-height: 300;
  }

  .pay-banner__images {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .pay-banner__title {
    font-size: 54px;
  }
}

@media (max-width: 1024px) {
  .pay-banner {
    margin-top: 119px;
    max-height: 300;
  }

  .pay-banner__nav {
    margin-top: 30px;
  }

  .pay-banner__title {
    font-size: 46px;
  }

  .pay-methods__tabs {
    margin-top: 60px;
  }

  .pay-methods__content {
    margin-top: 60px;
  }

  .pay-methods__info {
    margin: 0;
  }

  .pay-methods__info-title {
    margin: 0;
  }

  .pay-contact {
    margin-top: 60px;
  }
}

@media (max-width: 1023.98px) {
  .pay-methods__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pay-methods__image {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
  }

  .pay-methods__image img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .pay-banner__nav {
    margin-top: 20px;
  }

  .pay-banner__title {
    font-size: 38px;
  }

  .pay-methods__tabs {
    margin-top: 40px;
  }

  .pay-methods__content {
    margin-top: 40px;
  }

  .pay-methods__info-bank {
    margin-top: 20px;
  }

  .pay-methods__info-text {
    margin-top: 20px;
  }

  .pay-methods__info-card,
  .pay-methods__info-cash {
    margin-top: 20px;
  }

  .pay-methods__image {
    margin-top: 20px;
  }

  .pay-area {
    margin-top: 50px;
  }

  .pay-area__container {
    padding: 50px 15px;
  }

  .pay-contact {
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .pay-banner {
    max-height: 300px;
  }

  .pay-banner__images {
    height: 300px;
    width: 100%;
  }

  .pay-banner__title {
    font-size: 30px;
  }

  .pay-banner__title {
    margin-top: 100px;
  }

  .pay-methods__tabs-list {
    text-align: center;
  }

  .pay-methods__tabs-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .pay-methods__tabs-list li {
    font-size: 18px;
  }

  .pay-methods__tabs-list li img {
    margin: 0 auto;
  }

  .pay-methods__line {
    top: 73px;
  }
}

@media (max-width: 500px) {
  .pay-methods__tabs-list li:nth-child(2) {
    margin: 0 15px;
  }
}

@media (max-width: 485px) {
  .pay-methods__line {
    top: 95px;
  }
}