@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.slide__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.slide__wrapper {
  width: 410px !important;
}

.slide__swiper {
  max-width: 410px;
  width: 100%;
  height: 534px;
  padding: 0;
  position: relative;
  border: 1.5px solid rgba(0, 0, 0, 0.08);
}

.slide__swiper:hover {
  border: 1.5px solid #93b474;
}

.slide__swiper:hover .act-zoom {
  display: block;
}

.slide__item {
  background: #fcfcfc;
  height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slide__item-icon {
  position: absolute;
  top: 21px;
  left: 0;
}

.slide__item-zoom {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
}

.slide__item-image {
  max-width: 109px;
  width: 100%;
  height: 235px;
}

.slide__item-image img {
  width: 109px;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__item-imagesub {
  max-width: 243px;
  width: 100%;
  height: 190px;
}

.slide__item-imagesub img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide__info {
  margin-top: 22px;
}

.slide__info-name {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
  margin: 0 0 9px 20px;
}

.slide__info-article {
  color: #337d5a;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15px;
  margin: 0 0 12px 23px;
}

.slide__info-description {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  /* 106.25% */
  letter-spacing: 0.16px;
  color: #000;
  margin: 0 0 19px 22px;
}

.slide__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 31px 0 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide__info-balance,
.slide__info-packaging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__info-icon {
  width: 18px;
  height: 18px;
  margin-top: 4px;
}

.slide__info-mass,
.slide__info-pack {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
  color: #8a8a8a;
  margin-left: 8px;
}

.slide__info-mass span,
.slide__info-pack span {
  display: block;
  font-weight: 600;
  color: #337d5a;
  margin-top: 4px;
}

.slide__line {
  margin: 18px 0 14px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.slide__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 23px 0 21px;
}

.slide__price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__price-name {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin-top: 5px;
}

.slide__price-new {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #337d5a;
  margin: 0 10px 0 9px;
}

.slide__price-new span {
  font-size: 15px;
  letter-spacing: 0.15px;
  margin-left: 3px;
  color: #337d5a;
}

.slide__price-new span:first-child {
  margin-left: 0px;
}

.slide__price-old {
  position: relative;
  color: #337d5a;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.slide__price-old span {
  font-size: 13px;
  letter-spacing: 0.13px;
  margin-left: 2px;
}

.slide__price-old::after {
  content: "";
  display: block;
  width: 49px;
  height: 1px;
  background: #8a8a8a;
  position: absolute;
  top: 7px;
  left: -3px;
}

.slide__price-link a {
  display: inline-block;
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  padding: 11px 35px;
  border: 1px solid #337d5a;
  background: #337d5a;
}

.slide__price-link a:hover {
  background: #fff;
  color: #337d5a;
}

.slide__prev {
  cursor: pointer;
  position: absolute;
  top: 26.5%;
  left: 15px;
  z-index: 5;
}

.slide__next {
  cursor: pointer;
  position: absolute;
  top: 26.5%;
  right: 15px;
  z-index: 5;
}

.slide__link {
  margin-top: 71px;
  text-align: center;
}

.slide__link a {
  padding: 16px 27px;
  display: inline-block;
  color: #337d5a;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  border: 1.5px solid #337d5a;
}

.slide__link a:hover {
  background: #337d5a;
  color: #fff;
}

.act-zoom {
  display: none;
}

@media (max-width: 1440px) {
  .slide__content {
    grid-column-gap: 10px;
    grid-row-gap: 50px;
  }
}

@media (max-width: 1024px) {
  .slide__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    padding: 0 40px;
  }

  .slide__link {
    margin-top: 60px;
  }
}

@media (max-width: 1023.98px) {
  .slide__content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .slide__content {
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }

  .slide__link {
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .slide__content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .slide__item-image {
    height: auto;
  }

  .slide__item-imagesub {
    max-width: 200px;
    width: 100%;
    height: auto;
  }
}