@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: AllerDisplay;
  font-display: swap;
  src: url("../fonts/AllerDisplay.woff2") format("woff2"), url("../fonts/AllerDisplay.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/Raleway-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-BoldItalic.woff2") format("woff2"), url("../fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ThinItalic.woff2") format("woff2"), url("../fonts/Raleway-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: nut;
  font-display: swap;
  src: url("../fonts/nut.woff2") format("woff2"), url("../fonts/nut.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Montserrat;
}

[class*=__container] {
  max-width: 1324px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*=-container] {
  max-width: 1324px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__top {
  background: rgba(245, 245, 245, 0.5);
  min-height: 38px;
}
.header__top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
}
.header__top-tel {
  display: none;
}
.header__top-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80px;
  width: 100%;
  height: 13px;
}
.header__top-item {
  display: flex;
  justify-content: space-between;
  max-width: 755px;
  width: 100%;
}
.header__top-discount {
  color: #337d5a;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-right: 275px;
}
.header__top-account {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  max-width: 156px;
  width: 100%;
}
.header__top-account-signin a, .header__top-account-signup a {
  display: inline-block;
  position: relative;
  color: #323232;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}
.header__top-account-signin a::after, .header__top-account-signup a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: #93b474;
}
.header__top-account-signin a:hover::after, .header__top-account-signup a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header__top-account-signin a.link-hover::after, .header__top-account-signup a.link-hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header__top-account-signin {
  max-width: 49px;
  width: 100%;
}
.header__top-account-signin a img {
  margin: 3px 6px 0 0;
}
.header__top-account-signup {
  max-width: 82px;
  width: 100%;
}
.header__top-lang {
  max-width: 32px;
  width: 100%;
}
.header__top-lang-select {
  position: relative;
  cursor: pointer;
  color: #000;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}
.header__top-lang-list {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 5;
  background: #fff;
}
.header__top-lang-list.show {
  opacity: 1;
  visibility: visible;
  max-width: 33px;
  width: 100%;
  cursor: pointer;
  background: #fff;
  transition: all 0.5s ease;
  transition: opacity 0.5s, visibility 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.header__top-lang-item, .header__top-lang-current {
  color: #000;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
  padding: 5px 0;
}
.header__top-lang-item:hover {
  color: #fff;
  background: #337d5a;
}
.header__top-lang-arrow {
  position: absolute;
  right: 2px;
  top: 5px;
  transform-origin: center;
  transition: all 0.5s ease;
}
.header__top-lang-arrow.rotate {
  top: 0;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.header__bottom {
  height: 85px;
}
.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom-btn {
  display: none;
}
.header__bottom-logo {
  margin-top: 17px;
  max-width: 217px;
  width: 100%;
}
.header__bottom-logo a {
  display: flex;
  align-items: center;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.3px;
}
.header__bottom-logo img {
  margin-right: 10px;
}
.header__bottom-item {
  display: flex;
  max-width: 763px;
  width: 100%;
  margin-top: 14px;
}
.header__bottom-item-social {
  max-width: 113px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__bottom-item-tel {
  margin-left: 32px;
}
.header__bottom-item-tel a {
  display: block;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 3px;
}
.header__bottom-item-tel a:last-child {
  padding: 0;
}
.header__bottom-item-tel a span {
  color: #337d5a;
}
.header__bottom-item-call {
  margin-left: 93px;
  display: flex;
  align-items: center;
}
.header__bottom-item-call button {
  color: #fff;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  width: 148px;
  height: 42px;
  background: #337d5a;
}
.header__bottom-item-call button:hover {
  background: #fff;
  color: #337d5a;
  border: 1px solid #337d5a;
}
.header__bottom-item-call p {
  max-width: 141px;
  width: 100%;
  color: #8a8a8a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-left: 15px;
}
.header__bottom-item-basket {
  margin: 5px 0 0 64px;
}
.header__line {
  height: 1px;
  background: rgba(0, 0, 0, 0.06);
}
.header__menu {
  margin: 22px 0 0 0px;
  height: 56px;
}
.header__menu-logo {
  max-width: 197px;
  width: 100%;
  display: none;
}
.header__menu-logo a {
  display: flex;
  align-items: center;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
}
.header__menu-logo a img {
  margin-right: 10px;
}
.header__menu-close-btn {
  display: none;
}
.header__menu-subrow {
  display: flex;
  justify-content: space-between;
  display: none;
}
.header__menu-account {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  max-width: 156px;
  width: 100%;
}
.header__menu-account-signin a, .header__menu-account-signup a {
  display: inline-block;
  position: relative;
  color: #323232;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}
.header__menu-account-signin a::after, .header__menu-account-signup a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: #93b474;
}
.header__menu-account-signin a:hover::after, .header__menu-account-signup a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header__menu-account-signin a.link-hover::after, .header__menu-account-signup a.link-hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header__menu-account-signin {
  max-width: 49px;
  width: 100%;
}
.header__menu-account-signin a img {
  margin: 3px 6px 0 0;
}
.header__menu-account-signup {
  max-width: 82px;
  width: 100%;
}
.header__menu-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90px;
  width: 100%;
  height: 13px;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  max-width: 1138px;
  width: 100%;
  margin: 0 auto;
  height: 56px;
}
.header__menu-link {
  position: relative;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  background-color: #337d5a;
}
.header__menu-link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.header__menu-link.link-hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
  color: #337d5a;
}
.header__menu-link:hover {
  transform-origin: bottom left;
  color: #337d5a;
}
.header__menu-link.link-hover {
  transform-origin: bottom left;
  transform: scaleX(1);
  color: #337d5a;
}

@media (max-width: 1024px) {
  .header__top-container {
    padding-top: 0px;
  }
  .header__top-tel {
    display: block;
    display: flex;
    align-items: center;
  }
  .header__top-tel a {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }
  .header__top-tel a span {
    color: #337d5a;
  }
  .header__top-tel a img {
    width: 10px;
    height: 10px;
    margin: 2px 6px 0 0;
  }
  .header__top-tel button {
    position: relative;
    color: #337d5a;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    background: transparent;
    margin-left: 25px;
  }
  .header__top-tel button::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background-color: #93b474;
  }
  .header__top-tel button:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  .header__top-social {
    display: none;
  }
  .header__top-item {
    max-width: 54px;
    width: 100%;
  }
  .header__top-discount {
    display: none;
  }
  .header__top-account {
    display: none;
  }
  .header__top-lang {
    max-width: 54px;
    width: 100%;
    height: 38px;
    border: 1px solid #93b474;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__top-lang-select {
    width: 100%;
    padding-left: 15px;
  }
  .header__top-lang-list {
    text-align: center;
    min-width: 54px;
    width: 100%;
  }
  .header__top-lang-list.show {
    text-align: center;
    min-width: 54px;
    width: 100%;
  }
  .header__top-lang-item {
    padding: 5px 0;
  }
  .header__top-lang-arrow {
    position: absolute;
    right: 8px;
    top: 6px;
  }
  .header__bottom {
    height: 80px;
  }
  .header__bottom-btn {
    display: block;
    cursor: pointer;
  }
  .header__bottom-logo {
    margin-top: 11px;
    max-width: 135px;
    width: 100%;
    height: 60px;
  }
  .header__bottom-logo a {
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.22px;
    margin: 0 auto;
  }
  .header__bottom-logo img {
    width: 29px;
    height: 29px;
    margin: 0 0 7px 0;
  }
  .header__bottom-item {
    display: flex;
    max-width: 23px;
    width: 100%;
    margin-top: 14px;
  }
  .header__bottom-item-social {
    display: none;
  }
  .header__bottom-item-tel {
    display: none;
  }
  .header__bottom-item-call {
    display: none;
  }
  .header__bottom-item-basket {
    margin: 0;
  }
  .header__menu {
    position: relative;
  }
  .header__menu-logo {
    display: block;
    margin: 0 15px;
  }
  .header__menu-close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
  }
  .header__menu-subrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    height: 42px;
    margin: 15px 0;
    padding: 15px;
  }
  .header__menu-box {
    position: fixed;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 15px 0px 30px 0px;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu-box._active {
    top: 0;
  }
  .header__menu-list {
    display: block;
    padding: 0 15px;
  }
  .header__menu-item {
    margin-bottom: 13px;
    padding-bottom: 13px;
    width: 100%;
  }
}