@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Montserrat;
  color: #1a2f3f;
}

[class*=__container] {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80px;
  width: 100%;
  height: 13px;
}

.messenger {
  width: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messenger img {
  width: 31px;
  height: 31px;
}

.logo {
  max-width: 217px;
  width: 100%;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.3px;
}

.logo img {
  width: 54px;
  height: 54px;
  margin-right: 9px;
}

.nav a {
  color: #747474;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav a svg {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  padding-top: 3px;
}

.nav a:last-child {
  margin-left: 6px;
}

.inp-email {
  display: inline-block;
  max-width: 410px;
  width: 100%;
  height: 47px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  padding: 3px 0 0 13px;
}

.inp-email::-webkit-input-placeholder {
  color: #1a2f3f;
  color: #1a2f3f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.inp-email::-moz-placeholder {
  color: #1a2f3f;
  color: #1a2f3f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.inp-email:-ms-input-placeholder {
  color: #1a2f3f;
  color: #1a2f3f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.inp-email::-ms-input-placeholder {
  color: #1a2f3f;
  color: #1a2f3f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.inp-email::placeholder {
  color: #1a2f3f;
  color: #1a2f3f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header-top {
  background: rgba(245, 245, 245, 0.5);
  min-height: 38px;
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
}

.header-top__tel {
  display: none;
}

.header-top__social {
  max-width: 80px;
  width: 100%;
}

.header-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 753px;
  width: 100%;
}

.header-top__discount {
  color: #337d5a;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.header-top__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 158px;
  width: 100%;
  margin: 3px 49px 0 auto;
}

.header-top__account-signin a,
.header-top__account-signup a {
  display: inline-block;
  position: relative;
  color: #323232;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-top__account-signin a::after,
.header-top__account-signup a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #93b474;
}

.header-top__account-signin a:hover::after,
.header-top__account-signup a:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-top__account-signin a.link-hover::after,
.header-top__account-signup a.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-top__account-signin {
  max-width: 49px;
  width: 100%;
}

.header-top__account-signin a img {
  width: 11px;
  height: 11px;
  margin: 2px 6px 0 0;
}

.header-top__account-signup {
  max-width: 82px;
  width: 100%;
}

.header-top__lang {
  margin-top: 3px;
  max-width: 31px;
  width: 100%;
}

.header-top__lang-select {
  position: relative;
  cursor: pointer;
  color: #000;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-top__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 5;
  background: #fff;
}

.header-top__lang-list.show {
  opacity: 1;
  visibility: visible;
  max-width: 35px;
  width: 100%;
  cursor: pointer;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.header-top__lang-item,
.header-top__lang-current {
  color: #000;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-top__lang-item {
  padding: 5px 0;
}

.header-top__lang-item:hover {
  color: #fff;
  background: #337d5a;
}

.header-top__lang-arrow {
  position: absolute;
  right: 0px;
  top: 6px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-top__lang-arrow img {
  width: 100%;
  height: auto;
}

.header-top__lang-arrow.rotate {
  top: 0px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-bottom {
  height: 85px;
}

.header-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom__menubtn {
  display: none;
}

.header-bottom__logo {
  margin-top: 18px;
}

.header-bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 761px;
  width: 100%;
}

.header-bottom__item-social {
  margin-top: 4px;
}

.header-bottom__item-tel {
  margin-top: 8px;
  margin-left: 32px;
}

.header-bottom__item-tel a {
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 3px;
}

.header-bottom__item-tel a:last-child {
  padding: 0;
}

.header-bottom__item-tel a span {
  font-weight: 600;
  color: #337d5a;
}

.header-bottom__item-call {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11px;
}

.header-bottom__item-call button {
  color: #fff;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  width: 148px;
  height: 42px;
  background: #337d5a;
}

.header-bottom__item-call button:hover {
  background: #fff;
  color: #337d5a;
  border: 1px solid #337d5a;
}

.header-bottom__item-call p {
  max-width: 141px;
  width: 100%;
  color: #8a8a8a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-left: 15px;
}

.header-bottom__item-basket {
  margin: 5px 0 0 64px;
}

.header-bottom__item-basket img {
  width: 24px;
  height: 24px;
}

.header__line {
  height: 1px;
  background: rgba(0, 0, 0, 0.06);
}

.header-menu {
  margin: 22px 0 0 0px;
}

.header-menu__close-btn {
  display: none;
}

.header-menu__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.header-menu__logo {
  max-width: 197px;
  width: 100%;
  display: none;
}

.header-menu__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
}

.header-menu__logo a img {
  width: 29px;
  height: 29px;
}

.header-menu__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  max-width: 156px;
  width: 100%;
}

.header-menu__account__signin a,
.header-menu__account__signup a {
  display: inline-block;
  position: relative;
  color: #323232;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
}

.header-menu__account__signin a::after,
.header-menu__account__signup a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #93b474;
}

.header-menu__account__signin a:hover::after,
.header-menu__account__signup a:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__account__signin a.link-hover::after,
.header-menu__account__signup a.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__account__signin {
  max-width: 55px;
  width: 100%;
}

.header-menu__account__signin a img {
  margin: 3px 6px 0 0;
}

.header-menu__account__signup {
  max-width: 82px;
  width: 100%;
}

.header-menu__social {
  width: 100%;
  height: 13px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header-menu__link {
  position: relative;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.header-menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: -15px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #337d5a;
}

.header-menu__link:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.header-menu__link.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: #337d5a;
}

.header-menu__link:hover {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  color: #337d5a;
}

.header-menu__link.link-hover {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: #337d5a;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.signin-account {
  margin-top: 179px;
}

.signin-account__nav {
  padding-top: 36px;
}

.signin-account__title {
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 100% */
  letter-spacing: 0.32px;
  margin: 57px 0 43px;
}

.signin-account__form {
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
}

.signin-account__form-email {
  margin-bottom: 15px;
}

.signin-account__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.signin-account__form-forgot-password {
  position: relative;
  color: #337d5a;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.13px;
  margin: 6px auto 7px;
  max-width: 120px;
  width: 100%;
}

.signin-account__form-forgot-password::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #337d5a;
}

.signin-account__form-forgot-password:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.signin-account__form-forgot-password.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.signin-account__form-enter {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  border: 0.5px solid #337d5a;
  background: #337d5a;
  padding: 16px 0;
}

.signin-account__form-enter:active {
  background: #fff;
  color: #337d5a;
}

.signin-account__form-registration {
  max-width: 92px;
  width: 100%;
  position: relative;
  color: #337d5a;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  /* 246.154% */
  letter-spacing: 0.13px;
  margin: 8px auto 0;
}

.signin-account__form-registration::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #337d5a;
}

.signin-account__form-registration:hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.signin-account__form-registration.link-hover::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.signin-contact {
  margin-top: 90px;
  background: #fbfbfb;
}

.contact {
  padding-top: 100px;
  padding-bottom: 90px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__content {
  max-width: 315px;
  width: 100%;
}

.contact__content-title {
  margin-top: 13px;
  font-size: 45px;
  font-family: Raleway;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.45px;
}

.contact__content__icon {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 16px;
}

.contact__content-phone {
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content-phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.contact__content-phone-number a {
  color: #1a2f3f;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.contact__content-phone-number a:last-child {
  margin-top: 3px;
}

.contact__content-phone-social {
  margin-left: 47px;
}

.contact__content-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 43px;
}

.contact__content-email img {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 14px;
}

.contact__content-email a {
  color: #1a2f3f;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.contact__content-office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
}

.contact__content-office img {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 14px;
}

.contact__content-production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
}

.contact__content-production img {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 14px;
}

.contact__content-subtitle {
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.17px;
}

.contact__content-address {
  margin-top: 15px;
  color: #1a2f3f;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.contact__map {
  max-width: 739px;
  width: 100%;
  height: 518px;
}

.footer {
  margin-top: 83px;
}

.footer-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__logo {
  margin-right: 30px;
}

.footer-top__menu {
  margin-top: 17px;
  max-width: 996px;
  width: 100%;
}

.footer-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__link {
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.15px;
}

.footer-top__link:hover {
  color: #337d5a;
}

.footer__line {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
  margin-top: 24px;
}

.footer-bottom {
  margin: 30px 0 40px;
}

.footer-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__develope,
.footer-bottom__copyrigth {
  color: #1a2f3f;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-bottom__develope span,
.footer-bottom__copyrigth span {
  color: #337d5a;
}

.footer-bottom__copyrigth {
  max-width: 335px;
  width: 100%;
}

@media (max-width: 1024px) {
  .header-top__container {
    padding-top: 0px;
  }

  .header-top__tel {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-top__tel a {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }

  .header-top__tel a span {
    color: #337d5a;
  }

  .header-top__tel a img {
    width: 10px;
    height: 10px;
    margin: 2px 6px 0 0;
  }

  .header-top__tel button {
    margin-left: 25px;
    position: relative;
    color: #337d5a;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    background: transparent;
    margin-left: 25px;
  }

  .header-top__tel button::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    background-color: #93b474;
  }

  .header-top__tel button:hover::after {
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }

  .header-top__social {
    display: none;
  }

  .header-top__item {
    max-width: 54px;
    width: 100%;
  }

  .header-top__discount {
    display: none;
  }

  .header-top__account {
    display: none;
  }

  .header-top__lang {
    max-width: 54px;
    width: 100%;
    height: 38px;
    border: 1px solid #93b474;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .header-top__lang-select {
    width: 100%;
    padding-left: 15px;
  }

  .header-top__lang-list {
    text-align: center;
    min-width: 54px;
    width: 100%;
  }

  .header-top__lang-list.show {
    text-align: center;
    min-width: 54px;
    width: 100%;
  }

  .header-top__lang-item {
    padding: 5px 0;
  }

  .header-top__lang-arrow {
    position: absolute;
    right: 8px;
    top: 6px;
  }

  .header-bottom {
    height: 80px;
  }

  .header-bottom__menubtn {
    display: block;
    cursor: pointer;
  }

  .header-bottom__logo {
    margin: 0;
  }

  .header-bottom__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 23px;
    width: 100%;
  }

  .header-bottom__item-social {
    display: none;
  }

  .header-bottom__item-tel {
    display: none;
  }

  .header-bottom__item-call {
    display: none;
  }

  .header-bottom__item-basket {
    margin: 0;
  }

  .header-menu {
    height: 0;
    position: relative;
    margin: 0;
  }

  .header-menu__logo {
    display: block;
    margin: 0 15px;
  }

  .header-menu__close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
  }

  .header-menu__subrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fafafa;
    height: 42px;
    margin: 15px 0;
    padding: 15px;
  }

  .header-menu__box {
    position: fixed;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 15px 0px 30px 0px;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    overflow: auto;
  }

  .header-menu__box._active {
    top: 0;
  }

  .header-menu__list {
    display: block;
    padding: 0 15px;
  }

  .header-menu__item {
    margin-bottom: 13px;
    padding-bottom: 13px;
    width: 100%;
  }

  .logo {
    margin-top: 11px;
    max-width: 135px;
    width: 100%;
    height: 60px;
  }

  .logo a {
    font-family: Raleway;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.22px;
    margin: 0 auto;
  }

  .logo img {
    width: 29px;
    height: 29px;
    margin: 0 0 7px 0;
  }

  .signin-account {
    margin-top: 119px;
  }

  .contact__content-title {
    font-size: 37px;
  }

  .footer-top__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-top__logo {
    margin: 0;
  }

  .footer-top__menu {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .signin-account__title {
    font-size: 24px;
  }

  .signin-contact {
    margin-top: 50px;
  }

  .contact {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__content-title {
    font-size: 29px;
  }

  .contact__content-phone {
    margin-top: 40px;
  }

  .contact__content-email {
    margin-top: 40px;
  }

  .contact__content-office {
    margin-top: 40px;
  }

  .contact__content-production {
    margin-top: 40px;
  }

  .contact__map {
    margin-top: 50px;
  }

  .footer {
    margin-top: 50px;
  }

  .footer-top__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-top__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-top__item {
    margin-bottom: 30px;
  }

  .footer-top__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 374.98px) {
  .contact__content-phone-social {
    margin-left: 20px;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .footer-bottom {
    margin: 10px 0 20px;
  }

  .footer-bottom__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-bottom__copyrigth {
    margin: 10px 0;
    text-align: center;
  }
}