@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.sub-banner {
  position: relative;
  max-height: 740px;
  height: auto;
}

.sub-banner__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-banner__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.sub-banner__content {
  max-width: 1100px;
  width: 100%;
  text-align: center;
  margin: 243px auto 0;
}

.sub-banner__content-title {
  max-width: 1100px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-family: Raleway;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.45px;
  margin-bottom: 71px;
}

.sub-banner__content-text {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.sub-banner__content-play {
  margin: 0 auto 26px;
}

.sub-banner__content-play span {
  margin: 0 auto;
}

@media (max-width: 1919.98px) {
  .sub-banner__container {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  .sub-banner__content {
    margin: 0 auto 0;
  }
}

@media (max-width: 1024px) {
  .sub-banner {
    max-height: 600;
  }

  .sub-banner__images {
    height: auto;
  }

  .sub-banner__content-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 1023.98px) {
  .sub-banner__content-title {
    font-size: 37px;
  }
}

@media (max-width: 768px) {
  .sub-banner__content-title {
    font-size: 29px;
  }

  .sub-banner__content-title {
    margin-bottom: 20px;
  }

  .sub-banner__content-text {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .sub-banner__images {
    height: 300px;
  }

  .sub-banner__content-play {
    margin: 0 auto 15px;
  }
}