@charset "UTF-8";

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.wholesale-banner {
  margin-top: 179px;
  max-height: 600px;
  height: 100%;
  position: relative;
}

.wholesale-banner__images img {
  min-width: 375px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wholesale-banner__container {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
}

.wholesale-banner__nav {
  margin-top: 36px;
}

.wholesale-banner__title {
  text-align: center;
  color: #fff;
  font-family: Raleway;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.62px;
  margin-bottom: 30px;
  margin-top: 189px;
}

.wholesale-banner__text {
  max-width: 538px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.25px;
  margin: 0 auto 40px;
}

.wholesale-client {
  margin-top: 81px;
}

.wholesale-client__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wholesale-client__title {
  max-width: 421px;
  width: 100%;
  font-size: 45px;
  font-family: Raleway;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.45px;
}

.wholesale-client__row {
  max-width: 770px;
  width: 100%;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1a2f3f;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.wholesale-client__row span {
  font-weight: 700;
}

.wholesale-client__top-text p {
  max-width: 356px;
  width: 100%;
}

.wholesale-client__top-text p:last-child {
  margin-top: 24px;
}

.wholesale-client__bottom-text p {
  max-width: 330px;
  width: 100%;
}

.wholesale-client__bottom-text p:last-child {
  margin-top: 24px;
}

.wholesale-client__tabs {
  margin-top: 131px;
  margin-left: 3px;
}

.wholesale-client__tabs ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 36px;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  /* 115% */
  letter-spacing: 0.2px;
  cursor: pointer;
}

.wholesale-client__tabs ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wholesale-client__tabs ul li:hover {
  /* Коли клас title-active додано, використовуйте тут змінені стилі */
}

.wholesale-client__tabs ul li:hover::after {
  content: "";
  position: absolute;
  max-width: 210px;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2.5px;
  bottom: -14px;
  left: 0;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #337d5a;
}

.wholesale-client__tabs ul li:hover.btn-active::after {
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.wholesale-client__tabs ul li:nth-child(2) {
  max-width: 150px;
  width: 100%;
}

.wholesale-client__tabs ul li:nth-child(3) {
  max-width: 150px;
  width: 100%;
}

.wholesale-client__tabs ul li img {
  display: inline-block;
  width: 49px;
  height: 49px;
  margin-right: 17px;
}

.wholesale-client__about {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wholesale-client__about-list {
  margin-top: 48px;
  max-width: 440px;
  width: 100%;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-right: 30px;
}

.wholesale-client__about-list li:nth-child(2) {
  margin: 25px 0 24px;
}

.wholesale-client__about-list li:nth-child(3) {
  margin-bottom: 23px;
}

.wholesale-client__about-list a {
  margin-top: 40px;
  display: inline-block;
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  padding: 17px 44px;
  border: 1.5px solid #337d5a;
  background: #337d5a;
}

.wholesale-client__about-list a:hover {
  color: #337d5a;
  background: #fff;
}

.wholesale-client__about-image {
  max-width: 761px;
  width: 100%;
  max-height: 470px;
  height: 100%;
}

.wholesale-client__about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wholesale-area {
  margin-top: 92px;
  background: #fbfbfb;
}

.wholesale-area__container {
  padding: 80px 15px 86px;
}

.wholesale-eco {
  max-height: 740px;
  height: auto;
  position: relative;
}

.wholesale-eco__image {
  height: auto;
  min-width: 375px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wholesale-eco__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.wholesale-eco__content {
  margin-top: 14px;
  height: 295px;
}

.wholesale-eco__icon {
  display: block;
  margin: 0px auto 0px;
  text-align: center;
}

.wholesale-eco__title {
  text-align: center;
  font-size: 45px;
  font-family: Raleway;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.45px;
  color: #fff;
  margin-top: 23px;
  margin-bottom: 26px;
}

.wholesale-eco__text {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 127.273% */
  letter-spacing: 0.22px;
  max-width: 647px;
  width: 100%;
  margin: 0 auto;
}

.wholesale-contact {
  margin-bottom: -8px;
}

@media (max-width: 1919.98px) {
  .wholesale-banner__title {
    margin-top: 100px;
  }
}

@media (max-width: 1440px) {
  .wholesale-banner__title {
    font-size: 54px;
  }
}

@media (max-width: 1439.98px) {
  .wholesale-banner__images {
    width: 100%;
    height: 500px;
  }

  .wholesale-client__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wholesale-client__title {
    max-width: 100%;
    text-align: center;
  }

  .wholesale-client__title br {
    display: none;
  }

  .wholesale-client__row {
    margin-top: 30px;
    max-width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .wholesale-client__tabs ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .wholesale-banner {
    margin-top: 119px;
    max-height: 500;
  }

  .wholesale-banner__nav {
    margin-top: 30px;
  }

  .wholesale-banner__title {
    font-size: 46px;
  }

  .wholesale-client {
    margin-top: 60px;
  }

  .wholesale-client__top-text p:last-child {
    margin-top: 30px;
  }

  .wholesale-client__bottom-text p:last-child {
    margin-top: 30px;
  }

  .wholesale-client__tabs {
    margin-top: 60px;
  }

  .wholesale-client__about-list {
    margin-top: 0;
  }

  .wholesale-client__about-list li:nth-child(2) {
    margin: 30px 0;
  }

  .wholesale-client__about-list li:nth-child(3) {
    margin: 0px 0 30px;
  }

  .wholesale-client__about-list a {
    margin: 30px 0 0;
  }

  .wholesale-area {
    margin-top: 60px;
  }

  .wholesale-area__container {
    padding: 40px 15px;
  }

  .wholesale-eco {
    margin-top: 60px;
  }

  .wholesale-eco__image {
    width: 100%;
    height: 500px;
  }

  .wholesale-eco__content {
    margin-top: 0;
  }

  .wholesale-contact {
    margin-top: 60px;
  }
}

@media (max-width: 1023.98px) {
  .wholesale-client__title {
    font-size: 37px;
  }

  .wholesale-client__tabs ul {
    font-size: 18px;
    grid-column-gap: 15px;
  }

  .wholesale-client__tabs ul li img {
    margin: 0 0 5px;
    width: 40px;
    height: 40px;
  }

  .wholesale-eco__title {
    font-size: 37px;
  }
}

@media (max-width: 768px) {
  .wholesale-banner__nav {
    margin-top: 20px;
  }

  .wholesale-banner__title {
    font-size: 38px;
  }

  .wholesale-banner__title {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .wholesale-client {
    margin-top: 40px;
  }

  .wholesale-client__title {
    font-size: 29px;
  }

  .wholesale-client__row {
    margin-top: 20px;
  }

  .wholesale-client__top-text p:last-child {
    margin-top: 20px;
  }

  .wholesale-client__bottom-text p:last-child {
    margin-top: 20px;
  }

  .wholesale-client__tabs {
    margin-top: 40px;
  }

  .wholesale-client__about {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wholesale-client__about-list li:nth-child(2) {
    margin: 20px 0;
  }

  .wholesale-client__about-list li:nth-child(3) {
    margin: 0 0 20px;
  }

  .wholesale-client__about-list a {
    margin: 20px 0 0;
  }

  .wholesale-client__about-image {
    margin-top: 40px;
    max-width: 100%;
  }

  .wholesale-area {
    margin-top: 40px;
  }

  .wholesale-eco {
    margin-top: 40px;
  }

  .wholesale-eco__title {
    font-size: 29px;
  }

  .wholesale-contact {
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .wholesale-banner {
    max-height: 300px;
  }

  .wholesale-banner__images {
    height: 300px;
  }

  .wholesale-banner__title {
    font-size: 30px;
  }

  .wholesale-banner__text {
    font-size: 17px;
  }

  .wholesale-banner__text {
    margin: 0 auto;
  }

  .wholesale-client__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wholesale-client__top-text p {
    max-width: 100%;
  }

  .wholesale-client__bottom-text p {
    margin-top: 20px;
    max-width: 100%;
  }

  .wholesale-client__tabs ul {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
  }

  .wholesale-client__tabs ul li {
    max-width: 150px;
    width: 100%;
  }

  .wholesale-client__tabs ul li img {
    width: 35px;
    height: 35px;
  }

  .wholesale-client__about-list {
    max-width: 100%;
  }

  .wholesale-eco__image {
    height: 400px;
  }

  .wholesale-eco__content {
    height: 100%;
  }

  .wholesale-eco__icon {
    height: 40px;
    width: 40px;
  }

  .wholesale-eco__title {
    margin: 15px 0;
  }

  .wholesale-eco__text {
    font-size: 18px;
  }
}

@media (max-width: 374.98px) {
  .wholesale-banner__title {
    margin-top: 50px;
  }
}